# Required python libraries
# AI processing, data analysis, viz
pandas
numpy
scikit-learn
import
# pytest for lightweight validation
pytest
matplotlib
seaborn

rich
openpyxl
pyarrow

# --------- Runtime dependencies -----------
# google colab setup
# See colab_setup.ipynb

# Jupyter notebook setup
#jupyter

# Future libraries that may be good

# LangGraph - commented out for now as beyond scope?
#langgraph
